<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="TdDarkBlueContainer"  vAlign=top colspan="2">作者信息 </td></tr>
  <tr><td align="right">笔名</td><td align="left"><%= @user.author_name %></td></tr>
  <tr><td align="center" colspan="2"><%= link_to "修改",edit_author_user_path(current_user) %></td></tr>
</table>