<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="TdDarkBlueContainer"  vAlign=top colspan="2"><%=@book.title%> - <%=@section.title%> - 新章节 </td></tr>
  <%=render 'form'%>
</table>