/*************************** common ***************************/
BODY {
  MARGIN-TOP: 0px; 
  MARGIN-BOTTOM: 0px; 
  /*BACKGROUND: #CAD7F7; */
  FONT-SIZE: 12px; 
}

/*************************** link ***************************/
a:link {font: bold small "Arial", "Helvetica", "sans-serif"; color: #336799; text-decoration: none;}
a:visited {font: bold small "Arial", "Helvetica", "sans-serif"; color: #336799; text-decoration: none;}
a:active {font: bold small "Arial", "Helvetica", "sans-serif"; color: #3399cc; text-decoration: none;}
a:hover {font: bold small "Arial", "Helvetica", "sans-serif"; color: #3399cc; text-decoration: none;}

a.TitleInDarkBlue:link {font: bold large "Arial", "Helvetica", "sans-serif"; color: #FFFFFF; text-decoration: none;}
a.TitleInDarkBlue:visited {font: bold large "Arial", "Helvetica", "sans-serif"; color: #FFFFFF; text-decoration: none;}
a.TitleInDarkBlue:active {font: bold large "Arial", "Helvetica", "sans-serif"; color: #66ccff; text-decoration: none;}
a.TitleInDarkBlue:hover {font: bold large  "Arial", "Helvetica", "sans-serif"; color: #66ccff; text-decoration: none;}


/*************************** table ***************************/
.TableContentBlock
{
  width: 100%;
  border:none; 
}


/*************************** td ***************************/
.TdLeftMenuFrame{width:169px;} /* 169px */
.TdRightContentFrame{} /* 630px */
.TdLeftSide{width:1;} /* 169px */
.TdRightSide{width:1;} /* 630px */

.TdLightBlueContainer {font-family:Courier New;
  PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px;
	color:#ffffff; BACKGROUND: #3399cc;
}

.TdWhiteContainer {font-family:Courier New;
	color:#000000; BACKGROUND: #FFFFFF;
}

.TdDarkBlueContainer
{
    BACKGROUND-COLOR: #336799;
		COLOR: #ffffff;
    FONT-FAMILY: Arial, Verdana;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
		PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px;
}

.TdListOddLine    {BACKGROUND-COLOR:#bed9fa;}
.TdListEvenLine   {BACKGROUND-COLOR:white;}



/*************************** div ***************************/
.DivBottomBorderline {
  MARGIN-TOP: 10px; BORDER-TOP: #888888 1px solid;
}







