/* gray */

BODY {
  SCROLLBAR-ARROW-COLOR: #af9f7b; 
	SCROLLBAR-FACE-COLOR: #e6dbc6; 
	LINE-HEIGHT: 18px; 
	MARGIN-TOP: 0px; 
	SCROLLBAR-BASE-COLOR: #e6dbc6; 
	MARGIN-BOTTOM: 0px; 
	BACKGROUND: #CAD7F7; 
	SCROLLBAR-HIGHLIGHT-COLOR: #af9f7b; 
	SCROLLBAR-SHADOW-COLOR: #af9f7b; 
	FONT-SIZE: 12px; 
	SCROLLBAR-dark-shadow-color: #E6DBC6;
}
TABLE.tableThinBorder {
  BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BACKGROUND: #888888; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.PartListTable {
  BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; BORDER-SPACING: 1px; WIDTH: 100%; PADDING-RIGHT: 1px; BACKGROUND: #888888; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 1px
}

A:link {font-family:Courier New;
  COLOR: #000000; TEXT-DECORATION: none;
}
A:visited {font-family:Courier New;
  COLOR: #000000; TEXT-DECORATION: none;
}
A:hover  { font-family:Courier New;color:#428EFF;text-decoration:underline; }
A.deepblue:link {font-family:Courier New;
  COLOR: #0000cc; TEXT-DECORATION: none
}
A.deepblue:visited {font-family:Courier New;
  COLOR: #0000cc; TEXT-DECORATION: none
}
A.deepblue:hover  { font-family:Courier New;color:#0000ff;text-decoration:underline; }

A.LightLinkInDarkTh:visited {
  LINE-HEIGHT: 18px; COLOR: #fffffe; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.LightLinkInDarkTh:link {
  LINE-HEIGHT: 18px; COLOR: #fffffe; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.LightLinkInDarkTh:hover {
  LINE-HEIGHT: 18px; COLOR: #f0e68c; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.TopMenuLink:visited {
  LINE-HEIGHT: 18px; COLOR: #75654a; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.TopMenuLink:link {
  LINE-HEIGHT: 18px; COLOR: #75654a; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.TopMenuLink:hover {
  LINE-HEIGHT: 18px; COLOR: #8b4513; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.BookNamePartList:visited {
  LINE-HEIGHT: 22px; COLOR: #75654a; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.BookNamePartList:link {
  LINE-HEIGHT: 22px; COLOR: #75654a; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.BookNamePartList:hover {
  LINE-HEIGHT: 22px; COLOR: #8b4513; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.tableBorder {
  BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #fffffe; PADDING-LEFT: 2px; BORDER-SPACING: 1px; WIDTH: 100%; PADDING-RIGHT: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
.tableInBorder {
  BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #fffffe; PADDING-LEFT: 2px; BORDER-SPACING: 1px; WIDTH: 100%; PADDING-RIGHT: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
TH {font-family:Courier New;
  height:25px;FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/deep_blue_line_background.gif); COLOR: white; BACKGROUND-COLOR: #4455aa
}
TD.tdbg {
  BACKGROUND: #fffffe
}
TD.thbg {
  BACKGROUND: #fffffe; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
TD {
  LINE-HEIGHT: 18px; COLOR: #000000; FONT-SIZE: 12px;BACKGROUND: #fffffe;
}
TD.copyright {
  PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FONT: 11px verdana,arial,helvetica,sans-serif; COLOR: #75654a; BORDER-TOP: #75654a 1px dashed; TEXT-DECORATION: none; PADDING-TOP: 1px
}
TD.BookIndexAbout {
  BORDER-BOTTOM: #888888 1px solid; TEXT-ALIGN: center; WIDTH: 100%; VERTICAL-ALIGN: top; BORDER-TOP: #888888 double
}
.DarkTh {
	font-family:Courier New;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	BACKGROUND-IMAGE: url(/images/deep_blue_line_background.gif); 
	COLOR: white; 
	BACKGROUND-COLOR: #fffffe;
	
  LINE-HEIGHT: 18px; 
  PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 4px; 
	PADDING-RIGHT: 4px; 
	PADDING-TOP: 4px;
}
.LightContainerTD1 {
  BORDER-BOTTOM: #888888 1px solid; BORDER-LEFT: #888888 1px solid; 
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; 
	BACKGROUND: #fffffe; 
	COLOR: #888888; FONT-SIZE: 12px; 
	BORDER-TOP: #888888 1px solid; 
	BORDER-RIGHT: #888888 1px solid; PADDING-TOP: 10px
}

.LightContainerTD {font-family:Courier New;
  PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #E4EDF9; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.forumRow {font-family:Courier New;
  PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #F1F3F5; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.bodytitle {
  BACKGROUND-IMAGE: url(/images/white_row_gray_bottom_for_title.gif);
	LINE-HEIGHT: 23 px; 
}
.BottomBorderlineDiv {
  MARGIN-TOP: 10px; BORDER-TOP: #888888 1px solid
}
.BottomBorderlineTD {
  LINE-HEIGHT: 3px; BORDER-TOP: #888888 1px solid
}
.BookIndexName {
  PADDING-BOTTOM: 3px; FONT-FAMILY: ????; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
TD.BookIndexAbout {
  BORDER-BOTTOM: #799ae1 1px solid; TEXT-ALIGN: center; WIDTH: 100%; VERTICAL-ALIGN: top; BORDER-TOP: #799ae1 double
}

.debug_dump{
	color:#000000;
}

.bodyleft{
	background-image:url(images/bgleft.gif);
	background-repeat:repeat-y;
	BACKGROUND: #CAD7F7;
}

div.flasherror{
	color:#ff0000;
}

.content_area_bg{
	BACKGROUND: #fffffd
}




.current_navigation {
  FONT-WEIGHT: bold;
}
.current_category {
  FONT-WEIGHT: bold;;
}

