<tr>
    <td><%=section.sequence%></td>
    <td><%= link_to section.title,:action=> :show ,:id=> section%></td>
    <td><%=section.description%></td>
    <td><%=link_to 'Chapters',maintain_book_section_chapters_path(@book,section)%></td>
</tr>