<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="TdDarkBlueContainer"  vAlign=top colspan="2">
    [<%=link_to(@book.title,maintain_book_section_chapters_path,:class=>"TitleInDarkBlue")%>]
  </td></tr>
  <%=render 'form'%>
</table>