<<<<<<< HEAD
<h1>Edit user</h1>
<%= render 'form' %>

  <div>
    <%=gravatar_for @user%>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
=======
<h1>Edit user</h1>
<%= render 'form' %>

  <div>
    <%=gravatar_for @user%>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
>>>>>>> 64060d119c0e9e8a89ee1ad26a37d3f4de2a9bed
  </div>