<<<<<<< HEAD
<% unless @feed_items.empty? %>
<table class="microposts" summary="User microposts" >
  <%=render :partial=>'shared/feed_item',:collection=>@feed_items %>
</table>
<%=will_paginate @feed_items %>
<%end%>

=======
<% unless @feed_items.empty? %>
<table class="microposts" summary="User microposts" >
  <%=render :partial=>'shared/feed_item',:collection=>@feed_items %>
</table>
<%=will_paginate @feed_items %>
<%end%>

>>>>>>> 64060d119c0e9e8a89ee1ad26a37d3f4de2a9bed
