<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="DarkTh"  vAlign=top colspan="6">分类列表 </td></tr>
  <tr style="font-weight:bold;">
    <td>id</td>
  	<td>名称</td>
    <td>简介</td>
    <td>排序</td>
    <td>公开</td>
    <td></td>
  </tr>
	<%=render @categories%>
  <tr><td align="center" colspan="6"><%=link_to "Add",new_maintain_category_path%></td></tr>

</table>
<%=will_paginate%>
