<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="TdDarkBlueContainer"  vAlign=top colspan="7">
  [<%=link_to @book.title ,maintain_book_path(@book),:class=>"TitleInDarkBlue"%>
   - 
  <%=link_to @section.title ,maintain_book_section_path(@section),:class=>"TitleInDarkBlue"%>] </td></tr>
  <tr >
    <th width="20">id</td>
    <th width="40">公开</td>
    <th>标题</td>
  </tr>
  <%=render @chapters%>
  <tr><td align="center" colspan="7"><%=link_to "添加",new_maintain_book_section_chapter_path(@book,@section)%></td></tr>

</table>
