<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="TdDarkBlueContainer"  vAlign=top colspan="7">
    [<%=link_to @book.title ,author_book_path(@book),:class=>"TitleInDarkBlue"%>] - 分卷
  </td></tr>
  <tr style="font-weight:bold;">
    <td width="40">排序</td>
    <td width="200">卷名</td>
    <td> </td>
  </tr>
  <%=render @sections%>
  <tr><td align="center" colspan="7"><%=link_to "添加",new_author_book_section_path%></td></tr>

</table>