<TABLE cellSpacing=0 cellPadding=0  class="TableContentBlock">
  <TR>
    <TD class="TdLeftMenuFrame" vAlign=top>
        <TABLE cellSpacing=0 cellPadding=3 width="100%" >
          <TR>
            <TD class="TdDarkBlueContainer" vAlign=top>&nbsp;Category</td>
          </tr>
          <TR>
            <TD  vAlign=top class="TdWhiteContainer">
               group.IndexList_Class(2) 
            <div class="DivBottomBorderline"></div>
            <br>
            </td>
          </tr>
          <TR>
            <TD class="TdDarkBlueContainer" vAlign=top>&nbsp;Description</td>
          </tr>
          <TR>
            <TD  vAlign=top class="TdWhiteContainer">
              group.Description
            <div class="DivBottomBorderline"></div>
            <br>
            </td>
          </tr>
        </table>
      </td>
      
      <TD width="1px"></TD>
      
      <TD   class="TdRightContentFrame" vAlign=top>
        
        <TABLE  cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TR>
            <TD class="TdDarkBlueContainer"  vAlign=top>&nbsp;Last updates </td>
          </tr>
          <TR>
            <TD class="TdWhiteContainer" vAlign=top >
            	<table  cellSpacing=0 cellPadding=0  width="100%">
              <%= render @chapters%>
						  </table>
            </td>
          </tr>
            
        </table>
      </td>
    </tr>
</table>
