<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="TdDarkBlueContainer"  vAlign=top colspan="2">&nbsp;lookup </td></tr>
  <tr><td align="right" width="200">code</td><td align="left"><%= @lookup.code %></td></tr>
  <tr><td align="right">category</td><td align="left"><%= @lookup.category %></td></tr>
  <tr><td align="right">description</td><td align="left"><%= @lookup.description %></td></tr>
  <tr><td align="center" colspan="2"><%=link_to "Edit",edit_maintain_lookup_path%></td></tr>
</table>