<tr>
    <td><%=book.id%></td>
    <td><%= link_to book.title,:action=> :show ,:id=> book%></td>
    <td><%=book.all_click%></td>
    <td><%=link_to '分卷',maintain_book_sections_path(book)%></td>
</tr>