<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="DarkTh"  vAlign=top colspan="7"><%=@book.title%></td></tr>
  <tr style="font-weight:bold;"><td>All click:<%=@book.all_click%></td></tr>
  <tr style="font-weight:bold;"><td>Category:<%=@book.category.title%></td></tr>
  <tr><td align="center" colspan="7"><%=link_to "Edit",edit_maintain_book_path%></td></tr>

</table>