<TABLE cellSpacing=0 cellPadding=0 width="800px" border=0>
  <TR>
    <TD width="169px" vAlign=top>
        <TABLE cellSpacing=0 cellPadding=0 width="100%"  bgcolor="#8f7d59" >
          <TR>
            <TD class="DarkTh" vAlign=top>&nbsp;Category</td>
          </tr>
          <TR>
            <TD  vAlign=top class="LightContainerTD">
               group.IndexList_Class(2) 
            <div class="BottomBorderlineDiv"></div>
            <br>
            </td>
          </tr>
          <TR>
            <TD class="DarkTh" vAlign=top>&nbsp;Description</td>
          </tr>
          <TR>
            <TD  vAlign=top class="LightContainerTD">
              group.Description
            <div class="BottomBorderlineDiv"></div>
            <br>
            </td>
          </tr>
        </table>
      </td>
      
      <TD width="1px"></TD>
      
      <TD width="630px" vAlign=top>
        
        <TABLE cellSpacing=0 cellPadding=0 width="100%"  >
          <TR>
            <TD class="DarkTh"  vAlign=top>&nbsp;<%=@book.title%> </td>
          </tr>
          <TR>
            <TD class="LightContainerTD" vAlign=top >
            <%=render @chapters%>
            </td>
          </tr>
            
        </table>
      </td>
    </tr>
</table>
