<TABLE cellSpacing=0 cellPadding=0  class="TableContentBlock">
  <TR>
    <TD width="100%" vAlign=top>
      
        <TABLE cellSpacing=0 cellPadding=0 width="100%"  >
          <TR>
            <TD class="TdDarkBlueContainer"  vAlign=top>&nbsp;<%=@book.title%> </td>
          </tr>
          <TR>
            <TD class="TdLightContainer" vAlign=top >
            <%=render @chapters%>
            </td>
          </tr>
            
        </table>
      </td>
    </tr>
</table>
