<TABLE cellSpacing=0 cellPadding=0 class="TableContentBlock">
  <TR>
    <TD class="TdLeftMenuFrame" vAlign=top>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" >
          <TR>
            <TD class="TdDarkBlueContainer" vAlign=top>&nbsp;categories</td>
          </tr>
          <TR>
            <TD  vAlign=top class="TdWhiteContainer">
               <%=render 'groups'%>
            <div class="DivBottomBorderline"></div>
            <br>
            </td>
          </tr>
          <TR>
            <TD class="TdDarkBlueContainer" vAlign=top>&nbsp;toplist</td>
          </tr>
          <TR>
            <TD  vAlign=top class="TdWhiteContainer">
              group.Description
            <div class="DivBottomBorderline"></div>
            <br>
            </td>
          </tr>
        </table>
      </td>
      
      <TD width="1px"></TD>
      
      <TD class="TdRightContentFrame" vAlign=top>
        
        <TABLE cellSpacing=0 cellPadding=0 width="100%"  >
          <TR>
            <TD class="TdDarkBlueContainer"  vAlign=top>&nbsp;<%=@category.title%>  </td>
          </tr>
          <TR>
            <TD class="TdWhiteContainer" vAlign=top >
            <%=render @books%>
            </td>
          </tr>
            
        </table>
      </td>
    </tr>
</table>
