        <TABLE cellSpacing=0 cellPadding=0 width="100%" >
          <TR>
            <TD class="TdDarkBlueContainer" vAlign=top>&nbsp;book manage</td>
          </tr>
          <TR>
            <TD  vAlign=top class="TdWhiteContainer">
              <%= link_to "author info", author_users_path %><br>
              <%= link_to "book list", '/author/books' %><br>
              <%= link_to "book comments", '#' %><br>
              <div class="DivBottomBorderline"></div>
            <br>
            </td>
          </tr>
        </table>
        