<table  width=100% align=center >
    <tr >
      <td align=center>
      	<!--
		      <%= link_to "About", about_path %>&nbsp;
		      <%= link_to "Help", help_path %>&nbsp;
                         当前在线: [ <FONT color=#8b0000>38</FONT> ] 位-->
      </td>
    </tr>
</table>

