
  <table>
    <tr>
      <td>
		      <%= link_to "About", about_path %>&nbsp;
		      <%= link_to "Help", help_path %>&nbsp;
		      <a href="http://news.railstutorial.org/">News</a> &nbsp;
                         当前在线: [ <FONT color=#8b0000>38</FONT> ] 位
      </td>
    </tr>
  </table>

